.searchBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 300px;
}
.input {
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
