.wrapper {
  display: flex;
  flex-direction: column; /* Стекать компоненты по вертикали */
  align-items: center; /* Центрировать по горизонтали */
  justify-content: center; /* Центрировать по вертикали */

  padding: 20px; /* Отступы от края экрана */
  gap: 20px; /* Отступы между компонентами */
}
