.wrapper {
  width: 270px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.btn {
  border-radius: 10px;
  border: none;
  background-color: rgb(6, 119, 190);
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & span {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
