.wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  border-radius: 10px;
  gap: 15px;
  justify-content: space-between;
}

.text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.btn {
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #e54d61);
  box-shadow: 0px 4px 4px rgba(229, 77, 97, 0.6) a(0, 0, 0, 0.15);
  border: none;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.wrapperText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
